/* añadir contacto */

#add-contact * {
  margin: 0 5px;
}

#add-contact {
  border-radius: 5px;
  border: solid #03305a 2px;
  background-color: #03305a;
  color: white;
  margin: 10px auto 5px;
  padding: 0 10px;
  width: 100%;
  max-width: 450px;
}

#add-contact:hover {
  background-color: #032340;
}

#add-text {
  margin: 0;
}

/* formulario */

#index-form {
  border-radius: 5px;
  border: solid #008a93 2px;
  margin: 70px auto 50px;
  padding: 20px 5px;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

#index-form input {
  margin: 3px 0;
  font-size: 0.9rem;
}

#index-form button {
  margin: 10px 0;
}

#send-button {
  border: 2px solid #008a93;
  color: #008a93;
}

#send-button:hover {
  background: #008a93;
  border: 2px solid white;
  color: white;
}

#send-button:active,
#send-button:focus {
  border: none;
  outline: none;
  background: #008a93;
  color: white;
}

.close-form i {
  font-size: 1.7rem;
  color: black;
  padding: 0 5px;
}

/* tabla de contactos */

.tabla {
  margin: auto;
  padding: 10px 0;
}

#info-table th {
  background-color: #03305a;
  color: white;
  font-size: 0.9rem;
  border: solid 1px black;
  padding: 6px;
  text-align: center;
}

#info-table td {
  border: solid 1px black;
  font-size: 0.8rem;
  padding: 4px;
  max-width: 260px;
  overflow: auto;
}

/* botones */

/* boton de editar */

#edit-home-button {
  background-color: #03305a;
  color: white;
}

#edit-home-button:hover {
  background-color: #032340;
}

/* botón de eliminar  */

#delete-button {
  background-color: #d90034;
  color: white;
}

#delete-button:hover {
  background-color: #a9082e;
}

/* No hay registros */

.no-register {
  background-color: #a9082e;
  color: white;
  padding: 20px;
}

/* Mensajes de creado y eliminado */

.create-message {
  border-radius: 5px;
  background: #008a93;
  color: white;
  margin: 5px auto;
  padding: 5px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/* El resto de css está en edit-contact */
.edit-message {
  border-radius: 5px;
  background: #008a93;
  color: white;
  margin: 5px auto;
  padding: 5px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.delete-message {
  border-radius: 5px;
  background: #a9082e;
  color: white;
  margin: 5px auto;
  padding: 5px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.create-delete-message h3 {
  margin-bottom: 45px;
}

.close {
  cursor: pointer;
}

.close i {
  font-size: 1.6rem;
  margin-right: 15px;
}

.close i:hover {
  color: red;
  box-shadow: 0 0 2px rgb(158, 158, 158);
  transition: all ease-in 0.3s;
}
