{% extends 'layout.html' %} {% block title %} edit contact {% endblock %} {%
block body %}

<div class="back d-flex align-items-center ">
  <a href="/">
    <i class="bi bi-arrow-left-short"></i>
  </a>
</div>

<form id="edit-contact-form" action="/update/{{contact[0]}}" method="POST">
  <div class="d-block">
    <h3>Editar información</h3>
    <input
      class="form-control"
      type="text"
      name="name"
      placeholder="name"
      value="{{contact[1]}}"
    />
    <input
      class="form-control"
      type="text"
      name="phone"
      placeholder="phone"
      value="{{contact[2]}}"
    />
    <input
      class="form-control"
      type="text"
      name="email"
      placeholder="email"
      value="{{contact[3]}}"
    />
    <button id="edit-button" class="btn btn-outline-*" type="submit">
      Editar información
    </button>
  </div>
</form>

{% endblock %}
