{% extends 'layout.html' %} {% block title %} home page {% endblock %} {% block
body %}

<!-- validación de mensaje de creado correctamente -->
{% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for mensaje in
mensajes %}
<div class="create-message">
  <div class="delete d-flex justify-content-end">
    <i class="bi bi-x"></i>
  </div>
  <h3>{{mensaje}}</h3>
</div>
{% endfor %} {% endif %} {% endwith %}

<!-- fourmulario -->
<form action="/create" method="POST">
  <div id="index-form" class="d-block">
    <h3>Añadir contacto</h3>
    <input
      class="form-control"
      type="text"
      name="name"
      placeholder="Escriba su nombre"
    />
    <input
      class="form-control"
      type="text"
      name="phone"
      placeholder="Escriba su numero de contacto"
    />
    <input
      class="form-control"
      type="text"
      name="email"
      placeholder="Escriba su correo electrónico"
    />
    <button id="send-button" class="btn btn-outline-*" type="submit">
      Enviar información
    </button>
  </div>
</form>

<!-- información -->
<div class="tabla d-flex flex-column justify-content-center align-items-center">
  <h3>Contactos</h3>
  <table id="info-table">
    {% if contacts %}
    <tr>
      <th>Ident.</th>
      <th>Nombres</th>
      <th>Teléfono</th>
      <th>Correo electrónico</th>
      <th>Opciones</th>
    </tr>
    {% for contact in contacts %}
    <tr>
      <td>{{contact[0]}}</td>
      <td>{{contact[1]}}</td>
      <td>{{contact[2]}}</td>
      <td>{{contact[3]}}</td>
      <td>
        <a href="/edit/{{contact[0]}}"
          ><button id="edit-home-button" class="btn btn-outline-*">
            Editar
          </button></a
        >
        <a href="/delete/{{contact[0]}}"
          ><button id="delete-button" class="btn btn-outline-*">
            Eliminar
          </button></a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <div class="no-register">
      <h3>No hay registros que mostrar</h3>
    </div>
    {% endif %}
  </table>
</div>

{% endblock %}
